table.traffic {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td.traffic, th.traffic {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1px;
}

tr.traffic:nth-child(even) {
    background-color: #dddddd;
}

div.custom-footer{
  position: absolute;
  top: 760px;
  page-break-inside: auto;
  width: 100%;
}
