
<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Promoci&oacute;n de Productos</h2>
    <div class="oe_span12 text-center">
      <h3 class='oe_mt32'>
        El m&oacute;dulo tiene la funcionalidad de crear una promoci&oacute;n
        y registrar productos en la misma.
      </h3>
    </div>
    <!-- <div class="oe_span6">
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="../postal_code/static/description/res_partner_view.png">
            <div class="oe_demo_footer oe_centeralign">Vista donde se registra el contacto</div>
        </div>
    </div> -->
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Configuraci&oacute;n de la promoci&oacute;n</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Establezca el nombre la promoci&oacute;n, la fecha inicio y fin
        y el descuento de la promoci&oacute;n global a aplicar.

        La promoci&oacute;n se activa de acuerdo a la fecha inicio que se
        establezca, al igual que expira cuando llega a la fecha fin que se
        configure.
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="../product_promotion/static/description/Promo1_cut.png">
            <div class="oe_demo_footer oe_centeralign">Vista donde se configura la promoci&oacute;n</div>
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Promoci&oacute;n por Niveles</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Configure la promoci&oacute;n para que aplique sobre los precios
        por niveles del producto activando el campo "Aplicar niveles"
        puede establecer un n&uacute;mero de promoci&oacute;n por niveles.

        Aplique el c&aacute;lculo del descuento por niveles sobre los productos
        presionando el bot&oacute;n "Aplicar precios de nivel con descuento"
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="../product_promotion/static/description/Promo2_cut.png">
            <div class="oe_demo_footer oe_centeralign">Vista donde activan los niveles</div>
        </div>
    </div>
    <div class="oe_span12 text-center">
      <h4 class='oe_mt32'>
        Configure los Niveles
      </h4>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 90%" src="../product_promotion/static/description/Promo2_1cut.png">
            <div class="oe_demo_footer oe_centeralign">Vista donde se configuran los niveles</div>
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Agregue los productos</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Agregue los productos que apliquen para esta promoci&oacute;n
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 90%" src="../product_promotion/static/description/Promo3_1cut.png">
            <div class="oe_demo_footer oe_centeralign">Vista donde se agregan productos</div>
        </div>
    </div>
    <div class="oe_span12 text-center">
      <h4 class='oe_mt32'>
        Puede usar los filtros para agregar mas de 1 producto a la vez (solo aplica cuando no estan activados los niveles).
      </h4>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 90%" src="../product_promotion/static/description/Promo3_2cut.png">
            <div class="oe_demo_footer oe_centeralign">Vista donde se agregan productos con filtros</div>
        </div>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Pedidos de venta</h2>
    <div class="oe_span12 text-center">
      <p class='oe_mt32'>
        Cuando una promoci&oacute;n est&eacute; activa, el producto que se
        encuentre dentro de esta promoci&oacute;n tendr&aacute; efecto en un
        pedido de venta.
      </p>
    </div>
    <div>
        <div class="oe_screenshot" align="center">
            <img style="max-width: 80%" src="../product_promotion/static/description/Promo4_1cut.png">
            <div class="oe_demo_footer oe_centeralign">Vista donde se crea un pedido de venta/cotizaci&oacute;n</div>
        </div>
    </div>
  </div>
</section>
