
<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Registro de direcciones</h2>
    <div class="oe_span6">
         <p class='oe_mt32'>
         El usuario tiene la posibilidad de al registrar un contacto, buscar su
         direcci&oacute;n con el c&oacute;digo postal &oacute; buscando la colonia en caso de que no
         se tenga el c&oacute;digo postal a mano.
         </p>
     </div>
     <div class="oe_span6">
         <div class="oe_demo oe_picture oe_screenshot">
             <img src="../postal_code/static/description/res_partner_view.png">
             <div class="oe_demo_footer oe_centeralign">Vista donde se registra el contacto</div>
         </div>
     </div>
 </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Cat&aacute;logo completo de colonias de M&eacute;xico</h2>
    <div class="oe_span6">
         <p class='oe_mt32'>
         Se cuenta con un cat&aacute;logo completo de todas las colonias de M&eacute;xico.
         </p>
     </div>
     <div class="oe_span6">
         <div class="oe_demo oe_picture oe_screenshot">
             <img src="../postal_code/static/description/settlements_view.png">
             <div class="oe_demo_footer oe_centeralign">Cat&aacute;logo completo</div>
         </div>
     </div>
 </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Cat&aacute;logo de c&oacute;digos postales</h2>
    <div class="oe_span6">
         <p class='oe_mt32'>
         Se pueden visualizar todos los c&oacute;digos postales de M&eacute;xico y a que
         ciudad, estado y pa&iacute;s pertenecen.
         </p>
     </div>
     <div class="oe_span6">
         <div class="oe_demo oe_picture oe_screenshot">
             <img src="../postal_code/static/description/postal_codes_view.png">
             <div class="oe_demo_footer oe_centeralign">C&oacute;digos postales</div>
         </div>
     </div>
 </div>
</section>

<section class="oe_container oe_dark">
  <div class=oe_row>
    <h2 class="oe_slogan">Cat&aacute;logo de tipos de asentamiento</h2>
    <div class="oe_span6">
         <p class='oe_mt32'>
         Adem&aacute;s de contar con los cat&aacute;logos mencionados anteriormente, se cuenta con
         un cat&aacute;logo completo de todos los tipos de asentamiento en M&eacute;xico.
         </p>
     </div>
     <div class="oe_span6">
         <div class="oe_demo oe_picture oe_screenshot">
             <img src="../postal_code/static/description/settlements_view.png">
             <div class="oe_demo_footer oe_centeralign">Tipos de asentamiento</div>
         </div>
     </div>
 </div>
</section>
